{% extends "admin/base.html.twig" %}
{% block sub_title %}Users{% endblock %}
{% block content %}
    <a href="{{path('app_admin_home_home')}}"> Retour au menu Admin </a>
        <section class="column">
            <a class="btn" href="{{path('app_admin_user_create')}}"> Nouveau User </a> <br>
                <div class="listBox column">
                {% for user in users %}
                <hr class="listLine">
                <div class="listBox">
                    <div class="listElement">
                    {{user.email}}
                    {{user.lastName}}
                    </div> 
                    <div class="listAction">
                        <a href="{{path('app_admin_user_update', {id: user.id}) }}"> Modifier 
                        <i class="fa-solid fa-pen-to-square"></i></a>  
                        <a href="{{path('app_admin_user_delete', {id: user.id}) }}"> Supprimer 
                        <i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
                {% endfor %}
                </div>
        </section>
{% endblock %}