{% extends "front/base.html.twig" %}

    {% block sub_title %}Secrétariat{% endblock %}

    {% block content %}
    <h2> Secrétariat </h2>
    <section class="white noShadow">
    <h3>Pourquoi me choisir ?</h3>
    <p> Grâce à mes différents postes en tant que secrétaire polyvalente et dans 
    des domaines variés, j’ai pu acquérir <span class="bold">un véritable sens de la rigueur, de la 
    réactivité.</span></p> 

    <p>Mon expérience dans plusieurs services administratifs <span class="bold"> m’a appris à 
    travailler en équipe </span>tout en étant capable d’autonomie. J’ai acquis des 
    connaissances touchant à de divers domaines. 
    </p>

    <p> J'ai ainsi pu développer un sens de l’organisation, <span class="bold">la maîtrise des outils 
    bureautiques et une grande polyvalence</span>  qui me permet de travailler dans des 
    domaines complètements différents.</p> 

    <p>Alors si vous êtes une entreprise et que vous êtes débordés 
    administrativement, <span class="bold">je peux me déplacer et venir vous aider</span>j pour éviter 
    d’accumuler trop de retard.</p> 

    <p> Si vous êtes un particulier, <span class="bold">je peux vous accompagner</span> pour vos démarches administratives. </p>

    <p> ---------------<a href="{{path('app_contact_show')}}#contact" class="textLink">N’hésitez pas à me contacter ! </a>---------------</p>

    </section>

    <h2 id="prestation"> Services </h2>
    <section>
        {% for prestation in prestations %}
            <div class="presta elementBox" >
                <div>
                <img class="bigPic" src='{{asset('/uploads/prestation_img/' ~ prestation.image)}}'>
                </div>
                <div class="texte" style="padding-bottom:1%">
                {% for ligne in prestation.texte %}
                    {{ligne}} <br>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </section>


    <h2 id="tarif"> Tarifs </h2>

    <section style="display:block" class="texte">
        <h3> Prestation ponctuelle à partir de 2h de travail par jour </h3>
        <section class="noShadow">
        {% for tarif in tarifs2h %}
            <div class="tarif elementBox texte" >
                <h3>{{tarif.prix}}€ </h3>
                <p>{{tarif.duree}} <br>{{tarif.tarifTemps}}</p>
            </div>
        {% endfor %}
        </section>
        <h3> Prestation récurrente sur engagement d'un mois </h3>
        <section class="noShadow">
        {% for tarif in tarifsMois %}
            <div class="tarif elementBox texte" >
                <h3>{{tarif.prix}}€ </h3>
                <p>{{tarif.duree}} <br>{{tarif.tarifTemps}}€</p>
            </div>
        {% endfor %}
        </section>
    </section>
    
    {# <a href="{{path('app_secretariat_tarif')}}">Lien vers les tarifs</a> #}

    {% endblock %}