{% extends "admin/base.html.twig" %}
{% block sub_title %}Réalisation{% endblock %}
{% block content %}
    <a href="{{path('app_admin_home_home')}}"> Retour au menu Admin </a>
        <div>
            <a href="{{path('app_admin_realisation_create')}}"> Nouvelle Réalisation </a> <br>

                {% for realisation in realisations %}
                    <p> <img src="{{realisation.image}}"> {{realisation.titre}} <a href="{{path('app_admin_realisation_update', {id: realisation.id}) }}"> Modifier </a> <a href="{{path('app_admin_realisation_delete', {id: realisation.id}) }}"> Supprimer </a> 
                {% endfor %}
        </div>
{% endblock %}