{% extends "admin/base.html.twig" %}
{% block sub_title %}Réalisation{% endblock %}
{% block content %}
    <a href="{{path('app_admin_home_home')}}"> Retour au menu Admin </a>
        <section class="column">
            <a class="btn" href="{{path('app_admin_realisation_create')}}"> Nouvelle Réalisation </a> <br>
                <div class="listBox column">
                {% for realisation in realisations %}
                <hr class="listLine">
                <div class="listBox">
                    <div class="listElement">
                    <img class="smlPic" src="{{asset('/uploads/' ~ realisation.image)}}">
                      {{realisation.titre}} 
                    </div>    

                    <div class="listAction">
                      <a href="{{path('app_admin_realisation_update', {id: realisation.id}) }}"> Modifier 
                      <i class="fa-solid fa-pen-to-square"></i></a> 
                      <a href="{{path('app_admin_realisation_delete', {id: realisation.id}) }}"> Supprimer 
                      <i class="fa-solid fa-trash-can"></i></a> 
                    </div>
                </div>
                {% endfor %}
                </div>
        </section>
{% endblock %}