{% extends "admin/base.html.twig" %}
{% block sub_title %}Acceuil{% endblock %}
{% block content %}
<h2> Administration </h2>
    <div class="list-admin">
        <a class="linkAdmin" href="{{path('app_admin_experience_retrieve')}}">Liste Expériences </a>
        <a class="linkAdmin" href="{{path('app_admin_realisation_retrieve')}}">Liste Réalisations </a>
        <a class="linkAdmin" href="{{path('app_admin_prestation_retrieve')}}">Liste Préstations</a>
        <a class="linkAdmin" href="{{path('app_admin_tarif_retrieve')}}">Liste Tarifs </a>
        <a class="linkAdmin" href="{{path('app_admin_user_retrieve')}}">Liste Users </a>
    </div>
{% endblock %}