{% extends "admin/base.html.twig" %}
{% block sub_title %}Expériences{% endblock %}
{% block content %}
    <a href="{{path('app_admin_home_home')}}"> Retour au menu Admin </a>
        <div>
            <a href="{{path('app_admin_experience_create')}}"> Nouvelle Expérience </a> <br>

                {% for experience in experiences %}
                    <p> <img class="smlPic" src="{{asset('/uploads/' ~ experience.image)}}"> 
                    {{experience.titre}} <a href="{{path('app_admin_experience_update', {id: experience.id}) }}"> Modifier </a> <a href="{{path('app_admin_experience_delete', {id: experience.id}) }}"> Supprimer </a> 
                {% endfor %}
        </div>
{% endblock %}