{% extends "admin/base.html.twig" %}
{% block sub_title %}Expériences{% endblock %}
{% block content %}
    <a href="{{path('app_admin_home_home')}}"> Retour au menu Admin </a>
        <section class="column">
            <a class="btn" style="margin-bottom:1%"href="{{path('app_admin_experience_create')}}"> Nouvelle Expérience </a>
                <div class="listBox column">
                {% for experience in experiences %}
                <hr class="listLine">
                <div class="listBox">
                    <div class="listElement">
                        <img class="smlPic" src="{{asset('/uploads/' ~ experience.image)}}"> 
                        {{experience.titre}} 
                    </div>

                    <div class="listAction">
                        <a href="{{path('app_admin_experience_update', {id: experience.id}) }}"> Modifier 
                        <i class="fa-solid fa-pen-to-square"></i></a> 
                        <a href="{{path('app_admin_experience_delete', {id: experience.id}) }}"> Supprimer 
                        <i class="fa-solid fa-trash-can"></i></a> 
                    </div>
                    
                </div>  
                 
                {% endfor %}
                </div>
        </section>
{% endblock %}