{% extends "admin/base.html.twig" %}
{% block sub_title %}Préstation{% endblock %}
{% block content %}
    <a href="{{path('app_admin_home_home')}}"> Retour au menu Admin </a>
        <section class="column">
            <a class="btn" href="{{path('app_admin_prestation_create')}}"> Nouvelle Préstation </a>
                <div class="listBox column">
                {% for prestation in prestations %}
                <hr class="listLine">
                <div class="listBox">
                    <div class="listElement">
                        <p>{{prestation.titre}}</p> 
                    </div>

                    <div class="listAction">
                        <a href="{{path('app_admin_prestation_update', {id: prestation.id}) }}"> Modifier 
                        <i class="fa-solid fa-pen-to-square"></i></a> 
                        <a href="{{path('app_admin_prestation_delete', {id: prestation.id}) }}"> Supprimer 
                        <i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
                {% endfor %}
                </div>
        </section>
{% endblock %}