
    <ul id="nav">
        <li><a class="navLink" href="{{path('app_home_home')}}">
            Accueil
        </a></li>
        <li><a class="navLink" href="{{path('app_secretariat_show')}}">
            Secrétariat
        </a>
            <ul>
                <li><a class="navLink" href="{{path('app_secretariat_prestation')}}">Préstation</a></li>
                <li><a class="navLink" href="{{path('app_secretariat_tarif')}}">Tarifs</a></li>
            </ul>
        </li>
        <li><a class="navLink" href="{{path('app_siteWeb_show')}}">
            SiteWeb
        </a>
            <ul>
                <li><a class="navLink" href="{{path('app_siteWeb_prestation')}}">Préstation</a></li>
                <li><a class="navLink" href="{{path('app_siteWeb_tarif')}}">Tarifs</a></li>
            </ul>
        </li>
        <li><a class="navLink" href="{{path('app_contact_show')}}">
            Contact
        </a></li>
</ul>

