{% extends "front/base.html.twig" %}

    {% block sub_title %}Contact{% endblock %}

    {% block content %}
    <h2 id="contact"> Contact</h2>
    <div class="contactForm">

    {% if app.user %}


    {% else %}

    <p>Pour une comunication plus simple, <a  class="textLink" href="{{path('app_login')}}">connectez-vous !</a> </p>   
    
    {% endif %}
    <section>

{{ form_start(form) }}
    {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}


    {{ form_row(form.objet, {'attr': {'class': 'form-control'}}) }}


    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}



    {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}




    <input type="submit" value="Envoyer" class="submit">

{{ form_end(form) }}


</section>

    
    <p style="font-size:70%">
    Les informations recueillies font l'objet d'un traitement informatique destiné à prendre contact avec la personne qui aura laissé ses coordonnées. Le destinataire des données est MARION SERVICES uniquement.
    </p>
    </div>
    
    {% endblock %}